#title-container{
    display: flex;
    justify-content: center;
}
#title{
    font-size: 28px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 300;
}
.container-con{
    display: flex;
    justify-content: center;
}
#container{
    margin-top: 50px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    height: 500px;
    width: 500px;
    display: flex;
    flex-wrap: wrap;
}
.dropdown-container{
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    padding-left: 500px;
    padding-right: 475px;
}
.button-cont{
    padding-top: 30px;
    display: flex;
    justify-content: center;
}
.button-cont button{
    border-radius: 5%;
}